.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 14;
  /* clip-path: url(#레이어_1); */
}
.svgWrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cls-1 {
  fill: transparent;
}
.cls-2 {
  fill: url(#무제_그라디언트_12);
}
